<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="/fragments/categories"></div>
            <div class="col"></div>
            <div class="col-6">
                <h3 class="display-4">Register</h3>

                <form method="post" th:object="${user}" th:action="@{/register}">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        There are Errors
                    </div>
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
                        <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" th:field="*{password}">
                        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password:</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}">
                        <span class="error" th:if="${passwordMatchProblem}">Passwords do not match</span>
                    </div>

                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" th:field="*{email}" placeholder="Username@gmail.com" required>
                        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="Enter your phone number here">
                        <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    </div>

                    <button class="btn btn-danger mb-5">Register</button>
                </form>

            </div>
            <div class="col"></div>
        </div>
    </div>

    <div th:replace="/fragments/footer"></div>

</body>

</html>